.container{
    /* height: 1200; */
    width: 80%;
    margin: 1%;
    background-color: rgb(216, 54, 208);
    /* display: flex; */
    /* flex-direction: row-inline; */
    /* flex-wrap: wrap;  */
    
}



#header{
    background-color: rgb(238, 14, 137);
    /* font-family: 'Gelasio', serif; */

}
    /* text-align: center; */


.h1{
    color: rgb(245, 108, 55);
    text-align:left;
}
.aboutme,.para{
    /* text-align: center; */
    background-color: rgb(245, 133, 245);
    /* float: left; */
    }
.submit{
    margin-top: 2%;
}
.div{
    margin-top: 2%;
}
.p{
    text-align: center;
    background-color: rgb(177, 13, 114);
}